<div class="container-fluid">
  <div class="row flex-nowrap">
    <%- include('../partials/admin-sidebar') %>
    <div class="col py-3">
      <div class="col overflow-auto h-100">
        <div class="bg-light border rounded-3 p-3">
          <h2 class="display-4">Dashboard</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nostrum officia veritatis et placeat tempore cupiditate, debitis error minus voluptas iste nobis impedit. Aliquid, at! Magnam eaque rem blanditiis assumenda recusandae beatae nesciunt iste, dolore eveniet necessitatibus magni quidem minus natus, veniam, deleniti labore velit illum quam non consequuntur pariatur provident delectus odio! Atque, quidem nobis. Voluptatem praesentium fuga molestias? Provident at fuga voluptate, obcaecati cumque adipisci temporibus veniam earum!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus maxime provident hic at sequi distinctio, aliquam velit veniam, ea odit corporis natus libero autem non laudantium vitae! Totam suscipit illum, modi magni ea aspernatur esse saepe, error harum, rerum qui ratione ex. Suscipit voluptates obcaecati ea, minima laboriosam totam itaque autem facere iusto, illo, fuga commodi animi dolorum voluptas rem delectus debitis! Sit magnam sapiente, ad voluptate eveniet quis ut inventore rerum magni ullam voluptas labore minus porro dolore praesentium!</p>
          <hr />
          <h4 class="fw-normal">Hello World!</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut doloremque amet eaque veniam fugiat facilis assumenda ipsum a molestias culpa! Blanditiis, facilis unde doloribus, veniam in eaque ullam cumque facere molestias, numquam reiciendis minima dolores sed harum soluta iusto atque error totam alias excepturi fugit mollitia consequatur at molestiae. Temporibus perferendis itaque pariatur quam vero dolores doloribus porro dignissimos aliquid? Unde repudiandae incidunt, assumenda magnam quae iste quia esse odio consequatur commodi voluptas rem odit, nobis natus quasi deserunt veniam id culpa. In labore, expedita molestiae maiores dolor inventore eveniet voluptatem, consequuntur aliquid vitae numquam. Est dolor explicabo nobis iure!</p>
          <hr />
          <h4 class="fw-normal">Hello World Again.</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus maxime provident hic at sequi distinctio, aliquam velit veniam, ea odit corporis natus libero autem non laudantium vitae! Totam suscipit illum, modi magni ea aspernatur esse saepe, error harum, rerum qui ratione ex. Suscipit voluptates obcaecati ea, minima laboriosam totam itaque autem facere iusto, illo, fuga commodi animi dolorum voluptas rem delectus debitis! Sit magnam sapiente, ad voluptate eveniet quis ut inventore rerum magni ullam voluptas labore minus porro dolore praesentium!</p>
        </div>
      </div>
    </div>
  </div>
</div>