<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-10 text-center mx-auto">
      <div class="bg-light border rounded-3 p-3">
        <h1 class="display-4 mb-5 mt-5">My Cart</h1>
        <div class="table-responsive-md">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>